<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cupcakes.sectumsempra">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.cupcakes.sectumsempra.Admin"></activity>
        <activity android:name="com.cupcakes.sectumsempra.LoginActivity"
            android:parentActivityName="com.cupcakes.sectumsempra.MainActivity"/>
        <activity android:name="com.cupcakes.sectumsempra.IT20162764.ImagesActivity"
            android:parentActivityName="com.cupcakes.sectumsempra.Admin" />
        <activity android:name="com.cupcakes.sectumsempra.IT20162764.addvehical"
            android:parentActivityName="com.cupcakes.sectumsempra.IT20162764.ImagesActivity"/>
        <activity android:name="com.cupcakes.sectumsempra.IT20162764.updatevehical"
            android:parentActivityName="com.cupcakes.sectumsempra.IT20162764.ImagesActivity"/>
        <activity android:name="com.cupcakes.sectumsempra.IT20272418.booking"></activity>
        <activity android:name="com.cupcakes.sectumsempra.IT20272418.availablevehicles"></activity>


        <activity android:name="com.cupcakes.sectumsempra.IT20247218.allpayment"
            android:parentActivityName="com.cupcakes.sectumsempra.Admin"></activity>
        <activity android:name="com.cupcakes.sectumsempra.IT20247218.cash"></activity>
        <activity android:name="com.cupcakes.sectumsempra.IT20247218.credit"></activity>
        <activity android:name="com.cupcakes.sectumsempra.IT20247218.updatepayment"></activity>
        <activity android:name="com.cupcakes.sectumsempra.IT20247218.searchpayment"></activity>


        <activity android:name="com.cupcakes.sectumsempra.IT20199708.customerView"></activity>
        <activity android:name="com.cupcakes.sectumsempra.IT20199708.kas"
            android:parentActivityName="com.cupcakes.sectumsempra.Admin"></activity>

        <activity android:name="com.cupcakes.sectumsempra.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>